/*style applied to the whole site*/
body{
	/*padding-top: 70px; 
   padding-bottom: 70px;*/ 
   padding-top: 10%; 
   padding-bottom: 10%; 
  margin:10%;
  padding:0px;
  color:red;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  
  }

.pageHeader {
	text-align: center;
  color: #5d8aa8
  /*width: 100%;
  margin:10%;
  margin: 0 auto;
  position: fixed;*/
  
  }

  .info	{
	text-align: right;
	color: blue;
}

  /*Nav buttons*/

  .Menu {
  	text-align: center;
  }



/* .name	{
	text-align: center;
	margin-left: 10%;
	color: blue;*/
}


.btn {
padding: 18px 28px;
    font-size: 22px;
    line-height: normal;

} 


#intro {
	padding-top: 2%;
	margin-left: 10%;

}

/*#box1 {
	margin-left: 5%
	
}*/

.form-group {
	padding-bottom: 5%;
}

.socialLinks {
	padding-bottom: 15%;
}

/*.list-inline center-block {
	padding-bottom: 10%
}*/

#footer1 {
	line-height: 8px;
	text-align: center;
}

#footer2 {
	
	text-align: center;
}

#footer3 {
	
	text-align: center;
}

#footer {
    
    background-color: #f0f8ff;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height: 17%;
    margin-bottom:0px;
    padding: 5px;
}

.end {
	text-align: center;
}

 #myCarousel {

      margin: auto;
  
  }

  .carousel img {

    vertical-align: center;
    width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }

  #list1 {
    list-style-type: none;
  }

  #list2 {
    list-style-type: none;
  }

  #list3 {
    list-style-type: none;
  }

}
 

